<div class="row-fluid">  
  <div class="span12">
    <form class="form-horizontal">  
      <fieldset>
        <div class="row offset1"><h4>Two Sample T-Test</h4></div>
        <div class="row offset1" style="padding: 20px; margin-left: 50px; padding-bottom: 30px;" >
          <div class="span10">
            Enter the data sets
            <span class="stat-label">Instructions</span>
          </div>  
        </div>   
        <div class="control-group">  
          <label class="control-label" for="textarea1">Sample 1</label>  
          <div class="controls">  
            <textarea class="input-xlarge" id="textarea1" rows="3"></textarea>  
          </div>
        </div>  
        <div class="control-group">
          <label class="control-label" for="textarea2">Sample 2</label>
          <div class="controls">  
            <textarea class="input-xlarge" id="textarea2" rows="3"></textarea>  
          </div>
        </div>
        <div class="control-group">  
          <label class="control-label" for="select01">Select Tail Type</label>  
          <div class="controls">  
            <select id="test_type">  
            <option>Two Tail</option> 
            <option>Left Tail</option> 
            <option>Right Tail</option> 
            </select>  
          </div>  
        </div>
        <div class="control-group">  
          <label class="control-label" for="select01">Assume  Equal Variances?</label>  
          <div class="controls">  
            <select id="equal_var">  
            <option>Yes</option> 
            <option>No</option>
            </select>  
          </div>  
        </div>
        <div class="form-actions">  
          <button type="button" class="btn btn-primary" id="compute-button">Compute</button>  
        </div>  
      </fieldset>
    </form> 
  </div>
</div>

<div class="leaderboard results">  
  <div class="row-fluid">
    <div class="span4">
      <table>
        <tr><td class="stat-label">Sample 1 Size:</td><td id="n1"></td></tr>
        <tr><td class="stat-label">Sample 2 Size:</td><td id="n2"></td></tr>      
        <tr><td class="stat-label">Degrees of Freedom:</td><td id="df"></td></tr>
        <tr><td class="stat-label">T Test-Statistic:</td><td id="t-stat"></td></tr>
        <tr><td class="stat-label">P-Value:</td><td id="p-val"></td></tr>
      </table>
    </div>
    <div class="span6 graph">
    </div>  
  </div>
</div>

<script>

function iqr(k) {
  return function(d, i) {
    var q1 = d.quartiles[0],
        q3 = d.quartiles[2],
        iqr = (q3 - q1) * k,
        i = -1,
        j = d.length;
    while (d[++i] < q1 - iqr);
    while (d[--j] > q3 + iqr);
    return [i, j];
  };
}

  $(".leaderboard").hide()
  $("#compute-button").on('click', function(){
    var canvas = $()
    var sample1 = $("#textarea1").val()
    var sample2 = $("#textarea2").val()
    var test_type = $('#test_type').val()
    var equal_var = $('#equal_var').val()

    $.ajax({
      url: '/two_sample_test/compute',
      data: { sample1: sample1, sample2: sample2, test_type: test_type, equal_var: equal_var },
      success: function(data){
        $("#n1").html(data.n1)
        $("#n2").html(data.n2)
        $("#df").html(data.df)
        $("#t-stat").html(data.t.toFixed(3))
        $("#p-val").html(data.p.toFixed(3))

        var rawdata = sample1.split(',')

        var margin = {top: 10, right: 50, bottom: 20, left: 50}
        var width = 120 - margin.left - margin.right
        var height = 500 - margin.top - margin.bottom

        var min = Infinity
        var max = -Infinity

        var chart = d3.box()
          .whiskers(iqr(1.5))
          .width(width)
          .height(height);

        chart.domain([min, max]);

        var svg = d3.select(".chart").selectAll("svg")
              .data(rawdata)
            .enter().append("svg")
              .attr("class", "box")
              .attr("width", width + margin.left + margin.right)
              .attr("height", height + margin.bottom + margin.top)
            .append("g")
              .attr("transform", "translate(" + margin.left + "," + margin.top + ")")
              .call(chart);
      }
    })
    $(".leaderboard").slideDown()
  })
</script>