<% content_for :javascript_includes do %>
  <%= javascript_include_tag "two_sample_test.js" %>
<% end %>

<div id="df-modal" class="modal hide fade in" style="display: none; ">  
  <div class="modal-body"> 
    <h5>Degree of Freedom</h5>  
    <p>The degree of freedom specifies the t-distribution to be used.</p>
    <p>It's calculated from \[ n_1 + n_2 - 2  \]</p>
  </div>  
  <div class="modal-footer">    
    <a href="#" class="btn" data-dismiss="modal">Close</a>  
  </div>  
</div>

<div id="t-stat-modal" class="modal hide fade in" style="display: none; ">  
  <div class="modal-body"> 
    <h5>T Test-Statistic</h5>  
    <p>The t distribution to used in a two sample test of equal means where 
       the population standard deviations are unknown and need to be estimated
       from the samples. </p>
  </div>  
  <div class="modal-footer">    
    <a href="#" class="btn" data-dismiss="modal">Close</a>  
  </div>  
</div>

<div id="p-value-modal" class="modal hide fade in" style="display: none; ">  
  <div class="modal-body"> 
    <h5>P-Value</h5>  
    <p>The p-value is calculated from the test-statistic.  Namely, it's the probability
      of observing this statistic or more extreme values assuming there is no difference
      in the population means. </p>
    <p>If the p-value is small (less than 5% usually), we reject the hypothesis that the
      underlying two populations have equal means.</p>
  </div>  
  <div class="modal-footer">    
    <a href="#" class="btn" data-dismiss="modal">Close</a>  
  </div>  
</div>

<div class="leaderboard results">  
  <div class="row-fluid">
    <div class="span4">
      <table>
        <tr><td class="stat-label">Sample 1 Size:</td><td id="n1"></td></tr>
        <tr><td class="stat-label">Sample 2 Size:</td><td id="n2"></td></tr>      
        <tr><td data-toggle="modal" href="#df-modal" class="stat-label-modal" >Degrees of Freedom:</td><td id="df"></td></tr>
        <tr><td data-toggle="modal" href="#t-stat-modal" class="stat-label-modal" >T Test-Statistic:</td><td id="t-stat"></td></tr>
        <tr><td data-toggle="modal" href="#p-value-modal" class="stat-label-modal" >P-Value:</td><td id="p-val"></td></tr>
      </table>
    </div>
    <div class="span6 graph">
    </div>  
  </div>
</div>

  <div class="form-actions">  
    <button type="button" class="btn btn-primary" id="compute-button">Compute</button>  
  </div>  

<div class="row-fluid">  
  <div class="span12">
    <form class="form-horizontal">  
      <fieldset>
        <div class="row offset1"><h4>Two Sample T-Test</h4></div>
        <div class="row offset1" style="padding: 20px; margin-left: 50px; padding-bottom: 30px;" >
          <div class="span10">          
            <div>Enter the data sets.</div>
          </div>  
        </div>   
        <div class="control-group">  
          <label class="control-label" for="textarea1">Sample 1</label>  
          <div class="controls">  
            <textarea class="input-xlarge" id="textarea1" rows="3">69, 75, 71, 70, 56, 96, 68, 64, 69, 78, 85, 90, 82, 74, 56, 72, 74, 92, 89, 91, 87, 68, 85, 72, 75, 70, 94, 52, 91, 105, 99, 89, 72, 65, 89, 86, 83, 106, 62, 97, 86, 107, 74, 102, 40, 93, 74, 68, 69, 87, 96, 52, 84, 81, 90, 78, 85, 78, 95, 75, 86, 82, 60, 58, 93, 81, 75, 90, 126, 113, 96, 76, 74, 72, 95, 88, 60, 99, 78, 111, 98, 101, 64, 70, 101, 51, 67, 58, 72, 80, 93, 84, 73, 55, 94, 68, 71, 78, 61, 68</textarea>  
          </div>
        </div>  
        <div class="control-group">
          <label class="control-label" for="textarea2">Sample 2</label>
          <div class="controls">  
            <textarea class="input-xlarge" id="textarea2" rows="3">95, 106, 121, 124, 88, 84, 94, 121, 115, 117, 137, 96, 144, 123, 102, 107, 98, 105, 125, 107, 90, 111, 109, 102, 100, 101, 99, 115, 113, 106, 107, 106, 69, 104, 87, 119, 109, 115, 141, 136, 107, 102, 118, 125, 111, 126, 100, 112, 120, 110, 139, 111, 119, 79, 110, 128, 112, 119, 94, 112, 95, 116, 101, 111, 126, 103, 104, 101, 109, 97, 107, 104, 93, 115, 119, 101, 86, 95, 119, 77, 127, 84, 82, 120, 131, 133, 99, 100, 112, 107, 96, 112, 100, 119, 146, 137, 116, 114, 100, 127</textarea>  
          </div>
        </div>
        <div class="control-group">  
          <label class="control-label" for="select01">Select Tail Type</label>  
          <div class="controls">  
            <select id="test_type">  
            <option>Two Tail</option> 
            <option>Left Tail</option> 
            <option>Right Tail</option> 
            </select>  
          </div>  
        </div>
        <div class="control-group">  
          <label class="control-label" for="select01">Assume  Equal Variances?</label>  
          <div class="controls">  
            <select id="equal_var">  
            <option>Yes</option> 
            <option>No</option>
            </select>  
          </div>  
        </div>
      </fieldset>
    </form> 
  </div>
</div>