<div class="row-fluid">  
  <div class="span12">
    <form class="form-horizontal">  
      <fieldset>
        <div class="row offset1"><h4>Two Sample T-Test</h4></div>
        <div class="row offset1" style="padding: 20px; margin-left: 50px; padding-bottom: 30px;" >
          <div class="span10">
            Enter the data sets
            <span class="stat-label">Instructions</span>
          </div>  
        </div>   
        <div class="control-group">  
          <label class="control-label" for="textarea1">Sample 1</label>  
          <div class="controls">  
            <textarea class="input-xlarge" id="textarea1" rows="3"></textarea>  
          </div>
        </div>  
        <div class="control-group">
          <label class="control-label" for="textarea2">Sample 2</label>
          <div class="controls">  
            <textarea class="input-xlarge" id="textarea2" rows="3"></textarea>  
          </div>
        </div>
        <div class="control-group">  
          <label class="control-label" for="select01">Select Tail Type</label>  
          <div class="controls">  
            <select id="test_type">  
            <option>Two Tail</option> 
            <option>Left Tail</option> 
            <option>Right Tail</option> 
            </select>  
          </div>  
        </div>
        <div class="control-group">  
          <label class="control-label" for="select01">Assume  Equal Variances?</label>  
          <div class="controls">  
            <select id="equal_var">  
            <option>Yes</option> 
            <option>No</option>
            </select>  
          </div>  
        </div>
        <div class="form-actions">  
          <button type="button" class="btn btn-primary" id="compute-button">Compute</button>  
        </div>  
      </fieldset>
    </form> 
  </div>
</div>

<div class="leaderboard results">  
  <div class="row-fluid">
    <div class="span4">
      <table>
        <tr><td class="stat-label">Sample 1 Size:</td><td id="n1"></td></tr>
        <tr><td class="stat-label">Sample 2 Size:</td><td id="n2"></td></tr>      
        <tr><td class="stat-label">Degrees of Freedom:</td><td id="df"></td></tr>
        <tr><td class="stat-label">T Test-Statistic:</td><td id="t-stat"></td></tr>
        <tr><td class="stat-label">P-Value:</td><td id="p-val"></td></tr>
      </table>
    </div>
    <div class="span6 graph">
    </div>  
  </div>
</div>

<script>
  $(".leaderboard").hide()
  $("#compute-button").on('click', function(){
    var canvas = $()
    var sample1 = $("#textarea1").val()
    var sample2 = $("#textarea2").val()
    var test_type = $('#test_type').val()
    var equal_var = $('#equal_var').val()

    // var draw = function() {
    //   var canvas = $("<canvas id='myCanvas' width='500' height='300' style='border:1px solid #A9A9F5; border-radius: 1em; background-color: #FAFAFA;'></canvas>")
    //   $('.graph').append(canvas)
    //   var ctx = canvas.get(0).getContext("2d")   
    //   ctx.translate(0,300)
    //   ctx.scale(1,-1)
    //   ctx.strokeStyle = "#000000";
    //   var hor_range = hist[hist.length - 1].high - hist[0].low
    //   var ver_range = 0
    //   for(i=0; i< hist.length; i++){
    //     if (hist[i].value > ver_range){
    //       ver_range = hist[i].value
    //     }
    //   }
    //   var hor_scale = 300.0 / hor_range
    //   var ver_scale = 200.0 / ver_range
    //   ctx.font = "bold 12px sans-serif"
    //   for(i=0; i < hist.length; i++){
    //     var diff = i * (hist[i].high - hist[i].low)* hor_scale
    //     ctx.strokeRect(100 + diff, 250 - hist[i].value * ver_scale, (hist[i].high - hist[i].low) * hor_scale, hist[i].value*ver_scale)
    //     ctx.fillText(hist[i].middle.toFixed(0), 100+diff, 270)
    //   }
    // }

    $.ajax({
      url: '/two_sample_test/compute',
      data: { sample1: sample1, sample2: sample2, test_type: test_type, equal_var: equal_var },
      success: function(data){
        $("#n1").html(data.n1)
        $("#n2").html(data.n2)
        $("#df").html(data.df)
        $("#t-stat").html(data.t.toFixed(3))
        $("#p-val").html(data.p.toFixed(3))



        // draw(data.histogram)
      }
    })
    $(".leaderboard").slideDown()
  })
</script>