<div class="row-fluid">  
  <div class="span12">
    <form class="form-horizontal">  
      <fieldset>  
        <legend>Basic Univariate Statistics</legend>
        <div class="row offset1" style=" margin-top: -50px; padding: 20px;">
          Enter Data your data set by pasting it in the text field below or uploading a comma-delimited file.
        </div>   
        <div class="control-group">  
          <label class="control-label" for="textarea">Textarea</label>  
          <div class="controls">  
            <textarea class="input-xlarge" id="textarea" rows="3"></textarea>  
          </div>  
        </div>  
        <div class="control-group">  
          <label class="control-label" for="fileInput">File input</label>  
          <div class="controls">  
            <input class="input-file" id="fileInput" type="file">  
          </div>  
        </div>  
        <div class="form-actions">  
          <button type="submit" class="btn btn-primary">Compute</button>  
        </div>  
      </fieldset>  
    </form> 
  </div>
</div>

<div class="leaderboard">  
  <div class="row-fluid">
    <div class="span6">
      <h4> Results </h4>
      DATA RESULTSDATA RESULTSDATA RESULTSDATA RESULTSDATA RESULTSDATA RESULTSDATA RESULTSDATA RESULTSDATA RESULTSDATA RESULTSDATA RESULTSDATA RESULTSDATA RESULTSDATA RESULTSDATA RESULTSDATA RESULTSDATA RESULTSDATA RESULTSDATA RESULTSDATA RESULTSDATA RESULTSDATA RESULTSDATA RESULTSDATA RESULTSDATA RESULTSDATA RESULTSDATA RESULTSDATA RESULTSDATA RESULTSDATA RESULTSDATA RESULTSDATA RESULTSDATA RESULTSDATA RESULTSDATA RESULTSDATA RESULTSDATA RESULTSDATA RESULTSDATA RESULTSDATA RESULTSDATA RESULTSDATA RESULTSDATA RESULTSDATA RESULTSDATA RESULTSDATA RESULTSDATA RESULTSDATA RESULTSDATA RESULTSDATA RESULTSDATA RESULTSDATA RESULTSDATA RESULTSDATA RESULTSDATA RESULTSDATA RESULTS
    </div>
    <div class="span6">
      <h4> Graph </h4>
      GRAPH GRAPH GRAPH GRAPH GRAPH GRAPH GRAPH GRAPH GRAPH GRAPH GRAPH GRAPH GRAPH GRAPH GRAPH GRAPH GRAPH GRAPH GRAPH GRAPH GRAPH GRAPH GRAPH GRAPH GRAPH GRAPH GRAPH GRAPH GRAPH GRAPH GRAPH GRAPH GRAPH GRAPH GRAPH GRAPH GRAPH GRAPH GRAPH GRAPH GRAPH GRAPH GRAPH 
    </div>  
  </div>
</div>

