<div class="row-fluid">  
  <div class="span12">
    <form class="form-horizontal">  
      <fieldset>
        <div class="row offset1"><h4>Basic Univariate Statistics</h4></div>
        <div class="row offset1" style="padding: 20px; margin-left: 50px; padding-bottom: 30px;" >
          Enter Data your data set by pasting it in the text field below <br>
          or uploading a comma-delimited file. (Detailed Instructions)
        </div>   
        <div class="control-group">  
          <label class="control-label" for="textarea">Textarea</label>  
          <div class="controls">  
            <textarea class="input-xlarge" id="textarea" rows="3"></textarea>  
          </div>  
        </div>  
        <div class="control-group">  
          <label class="control-label" for="fileInput">File input</label>  
          <div class="controls">  
            <input class="input-file" id="fileInput" type="file">  
          </div>  
        </div>  
        <div class="form-actions">  
          <button type="button" class="btn btn-primary" id="compute-button">Compute</button>  
        </div>  
      </fieldset>  
    </form> 
  </div>
</div>

<div class="leaderboard results">  
  <div class="row-fluid">
    <div class="span6">
      <h4> Results </h4>

      <table>
        <tr>
        <td>Sample Size:</td>
        <td id="n"></td>
        </tr>
        <tr>
        <td>Sample Size:</td>
        <td id="n"></td>
        </tr>
        <tr>
        <td>Sample Size:</td>
        <td id="n"></td>
        </tr>
        <tr>
        <td>Sample Size:</td>
        <td id="n"></td>
        </tr>
        <tr>
        <td>Sample Size:</td>
        <td id="n"></td>
        </tr>
        <tr>
        <td>Sample Size:</td>
        <td id="n"></td>
        </tr>
        <tr>
        <td>Sample Size:</td>
        <td id="n"></td>
        </tr>
        <tr>
        <td>Sample Size:</td>
        <td id="n"></td>
        </tr>
        <tr>
        <td>Sample Size:</td>
        <td id="n"></td>
        </tr>
      </table>

        sample size: <div id="n"></div><br>
        min: <div id="min"></div><br>
        first quartile: <div id="first_qart"></div><br>
        mean: <div id="mean"></div><br>
        median: <div id="median"></div><br>
        third quartile: <div id="third_qart"></div><br>
        max: <div id="max"></div><br>
        sample std dev: <div id="s"></div><br>
        population std dev: <div id="sigma"></div><br>
        sample variance: <div id="samp_var"></div><br>
        popluation variance: <div id="pop_var"></div><br>
        sum of squares: <div id="ss"></div><br>
        kurtosis: <div id="kurt"></div><br>
    </div>
    <div class="span6 graph">
      <h4> Graph </h4>

    </div>  
  </div>
</div>


<script>

  $(".leaderboard").hide()
  $("#compute-button").on('click', function(){
    var input_data = $("#textarea").val()
    $.ajax({
      url: '/univariate/compute',
      data: { input_data: input_data },
      success: function(data){
        console.log(data)
        $("#n").html(data.size)
        $("#min").html(data.min)
        $("#first_qart").html(data.first_quartile)
        $("#mean").html(data.mean)
        $("#median").html(data.median)
        $("#third_qart").html(data.third_quartile)
        $("#max").html(data.max)
        $("#s").html(data.sd)
        $("#sigma").html(data.sigma)
        $("#samp_var").html(data.variance_sam)
        $("#pop_var").html(data.variance_pop)
        $("#ss").html(data.ss)
        $("#kurt").html(data.kurtosis)
      }
    })
    $(".leaderboard").slideDown()
  })






</script>


