<div class="row-fluid">  
  <div class="span12">
    <form class="form-horizontal">  
      <fieldset>
        <div class="row offset1"><h4>Basic Univariate Statistics</h4></div>
        <div class="row offset1" style="padding: 20px; margin-left: 50px; padding-bottom: 30px;" >
          Enter Data your data set by pasting it in the text field below <br>
          or uploading a comma-delimited file. (Detailed Instructions)
        </div>   
        <div class="control-group">  
          <label class="control-label" for="textarea">Data Input</label>  
          <div class="controls">  
            <textarea class="input-xlarge" id="textarea" rows="3"></textarea>  
          </div>  
        </div>  
        <div class="control-group">  
          <label class="control-label" for="fileInput">File input</label>  
          <div class="controls">  
            <input class="input-file" id="fileInput" type="file">  
          </div>  
        </div>  
        <div class="form-actions">  
          <button type="button" class="btn btn-primary" id="compute-button">Compute</button>  
        </div>  
      </fieldset>  
    </form> 
  </div>
</div>

<div class="leaderboard results">  
  <div class="row-fluid">
    <div class="span6">
      (mouse over for computation details)
      <table>
        <tr><td class="stat-label">Sample Size:</td><td id="n"></td></tr>
        <tr><td class="stat-label">Min:</td><td id="min"></td></tr>
        <tr><td class="stat-label">First Quartile:</td><td id="first_qart"></td></tr>
        <tr><td class="stat-label">Mean:</td><td id="mean"></td></tr>
        <tr><td class="stat-label">Median:</td><td id="median"></td></tr>
        <tr><td class="stat-label">Third Quartile:</td><td id="third_qart"></td></tr>
        <tr><td class="stat-label">Max:</td><td id="max"></td></tr>
        <tr><td class="stat-label">Sample SD:</td><td id="s"></td></tr>
        <tr><td class="stat-label">Pop. SD:</td><td id="sigma"></td></tr>
        <tr><td class="stat-label">Sample Variance:</td><td id="samp_var"></td></tr>
        <tr><td class="stat-label">Pop. Variance:</td><td id="pop_var"></td></tr>
        <tr><td class="stat-label">Sum of Squares:</td><td id="ss"></td></tr>
        <tr><td class="stat-label">Kurtosis:</td><td id="kurt"></td></tr>
      </table>

<!--         sample size: <div id="n"></div><br>
        min: <div id="min"></div><br>
        first quartile: <div id="first_qart"></div><br>
        mean: <div id="mean"></div><br>
        median: <div id="median"></div><br>
        third quartile: <div id="third_qart"></div><br>
        max: <div id="max"></div><br>
        sample std dev: <div id="s"></div><br>
        population std dev: <div id="sigma"></div><br>
        sample variance: <div id="samp_var"></div><br>
        popluation variance: <div id="pop_var"></div><br>
        sum of squares: <div id="ss"></div><br>
        kurtosis: <div id="kurt"></div><br> -->
    </div>
    <div class="span6 graph">

    </div>  
  </div>
</div>


<script>

  $(".leaderboard").hide()
  $("#compute-button").on('click', function(){
    var input_data = $("#textarea").val()
    $.ajax({
      url: '/univariate/compute',
      data: { input_data: input_data },
      success: function(data){
        debugger
        console.log(data)
        $("#n").html(data.n)
        $("#min").html(data.min)
        $("#first_qart").html(data.first_quartile.toFixed(3))
        $("#mean").html(data.mean.toFixed(3))
        $("#median").html(data.median.toFixed(3))
        $("#third_qart").html(data.third_quartile.toFixed(3))
        $("#max").html(data.max)
        $("#s").html(data.s.toFixed(3))
        $("#sigma").html(data.sigma.toFixed(3))
        $("#samp_var").html(data.variance_sam.toFixed(3))
        $("#pop_var").html(data.variance_pop.toFixed(3))
        $("#ss").html(data.ss.toFixed(3))
        $("#kurt").html(data.kurtosis.toFixed(3))
      }
    })
    $(".leaderboard").slideDown()
  })






</script>


