<div class="row-fluid">  
  <div class="span12">
    <h4 class="centered"> About Gauss Laboratories </h4>
    
  </div>
</div>


<!-- <div class="leaderboard">  
  <div class="row-fluid">
    <div class="span6">
      <h4> Results </h4>
      DATA RESULTSDATA RESULTSDATA RESULTSDATA RESULTSDATA RESULTSDATA RESULTSDATA RESULTSDATA RESULTSDATA RESULTSDATA RESULTSDATA RESULTSDATA RESULTSDATA RESULTSDATA RESULTSDATA RESULTSDATA RESULTSDATA RESULTSDATA RESULTSDATA RESULTSDATA RESULTSDATA RESULTSDATA RESULTSDATA RESULTSDATA RESULTSDATA RESULTSDATA RESULTSDATA RESULTSDATA RESULTSDATA RESULTSDATA RESULTSDATA RESULTSDATA RESULTSDATA RESULTSDATA RESULTSDATA RESULTSDATA RESULTSDATA RESULTSDATA RESULTSDATA RESULTSDATA RESULTSDATA RESULTSDATA RESULTSDATA RESULTSDATA RESULTSDATA RESULTSDATA RESULTSDATA RESULTSDATA RESULTSDATA RESULTSDATA RESULTSDATA RESULTSDATA RESULTSDATA RESULTSDATA RESULTSDATA RESULTSDATA RESULTS
    </div>
    <div class="span6">
      <h4> Graph </h4>
      GRAPH GRAPH GRAPH GRAPH GRAPH GRAPH GRAPH GRAPH GRAPH GRAPH GRAPH GRAPH GRAPH GRAPH GRAPH GRAPH GRAPH GRAPH GRAPH GRAPH GRAPH GRAPH GRAPH GRAPH GRAPH GRAPH GRAPH GRAPH GRAPH GRAPH GRAPH GRAPH GRAPH GRAPH GRAPH GRAPH GRAPH GRAPH GRAPH GRAPH GRAPH GRAPH GRAPH 
    </div>  
  </div>
</div> -->

