td
{
 padding-left: 5px;
 padding-right: 7px;
}

.stat-label
{
cursor: hand; cursor: pointer;
font-weight: bold;
text-align: right;
}

.stat-label-modal
{
cursor: hand; cursor: pointer;
font-weight: bold;
text-align: right;
text-decoration: underline;
color: rgb(0,0,255);
}
