<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>D3 Demo: Axes</title>
        
        <style type="text/css">
            
          body {
            font: 10px sans-serif;
          }

          .axis path,
          .axis line {
            fill: none;
            stroke: #000;
            shape-rendering: crispEdges;
          }

          .x.axis path {
            display: none;
          }

          .line {
            fill: none;
            stroke: steelblue;
            stroke-width: 1.5px;
          }

        </style>
    </head>
    <body>
        <script type="text/javascript">

      var w = 370;
      var h = 300;
      var padding = 30;

      var xScale = d3.scale.linear()
                           .domain([ -20 , 80 ])
                           .range([-20, w - padding * 2]);

      var yScale = d3.scale.linear()
                           .domain([ -20 , 80 ])
                           .range([h - padding, padding]);

            var data = [[-10, -10], [50, 60]]
                 
            var margin = {top: 20, right: 20, bottom: 30, left: 50},
                width = 960 - margin.left - margin.right,
                height = 500 - margin.top - margin.bottom;

            var parseDate = d3.time.format("%Y-%m-%d").parse;

            var xAxis = d3.svg.axis()
                .scale(xScale)
                .orient("bottom");

            var yAxis = d3.svg.axis()
                .scale(yScale)
                .orient("left");

            var line = d3.svg.line()
                .x(function(d) { return xScale(d.date); })
                .y(function(d) { return yScale(d.close); });

            var svg = d3.select("body").append("svg")
                .attr("width", width + margin.left + margin.right)
                .attr("height", height + margin.top + margin.bottom)
              .append("g")
                .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

              console.log(data);

              xScale.domain(d3.extent(data, function(d) { return d.date; }));
              yScale.domain(d3.extent(data, function(d) { return d.close; }));

              svg.append("g")
                  .attr("class", "x axis")
                  .attr("transform", "translate(0," + height + ")")
                  .call(xAxis);

              svg.append("g")
                  .attr("class", "y axis")
                  .call(yAxis)
                .append("text")
                  .attr("transform", "rotate(-90)")
                  .attr("y", 6)
                  .attr("dy", ".71em")
                  .style("text-anchor", "end")
                  .text("Price ($)");

              svg.append("path")
                  .datum(data)
                  .attr("class", "line")
                  .attr("d", line);

    </script>
  </body>
</html>