<% content_for :javascript_includes do %>
  <%= javascript_include_tag "linear_regression.js" %>
<% end %>

<div class="leaderboard results">  
  <div class="row-fluid">
    <div class="span5">
      <table cellpadding="10">
        <tr><td class="stat-label">Regression Line:</td><td id="reg_line"></td></tr>
        <tr><td class="stat-label">Correlation:</td><td id="corr"></td></tr>
      </table>
      <table>
        <tr><td style="padding-top: 25px;"><h4>Predict Response Values</h4> </td></tr>   
      </table>
      <table>  
        <tr><td> Y-value:</td> <td id="predicted_y"></td></tr>
        <tr><td>X-value</td><td> <input type="text" style = "width:40px;" id="x_value"></td></tr>
        <tr><td><button type="button" class="btn btn-primary" id="predict-button">Predict</button></td></tr>
      </table>
    </div>
    <div class="span6 graph">
    </div>
  </div>
</div>

<div class="form-actions">  
  <button type="button" class="btn btn-primary" id="compute-button">Compute</button>
</div>  

<div class="row-fluid">  
  <div class="span12">
    <form class="form-horizontal">  
      <fieldset>
        <div class="row offset1"><h4>Simple Linear Regresion</h4></div>
        <div class="row offset1" style="padding: 20px; margin-left: 50px; padding-bottom: 30px;" >
          <div class="span10">
            Enter the data sets
            <span class="stat-label">Instructions</span>
          </div>  
        </div>   

        <div class="control-group">
          <label class="control-label" for="textarea2">Response Values</label>
          <div class="controls">  
            <textarea class="input-xlarge" id="textarea2" rows="3">12, 20, 1, 7, 6, 25, 37, -33, 12, 10, 17, 7, 18, 1, 0, -17, -15, 19, -7, -6, 28, -8, 45, 35, 31</textarea>  
          </div>
        </div>

        <div class="control-group">  
          <label class="control-label" for="textarea1">Predictor Values</label>  
          <div class="controls">  
            <textarea class="input-xlarge" id="textarea1" rows="3">40, 57, 19, 37, 34, 63, 93, -41, 47, 41, 68, 38, 49, 11, 16, -12, -11, 59, 11, 11, 79, -6, 101, 90, 79</textarea>  
          </div>
        </div>  

      </fieldset>
    </form> 
  </div>
</div>