<div class="leaderboard results">  
  <div class="row-fluid">
    <div class="span5">
      <table cellpadding="10">
        <tr><td class="stat-label">Regression Line:</td><td id="reg_line"></td></tr>
        <tr><td class="stat-label">Correlation:</td><td id="corr"></td></tr>
      </table>
      <table>
        <tr><td style="padding-top: 25px;"><h4>Predict Response Values</h4> </td></tr>   
      </table>
      <table>  
        <tr><td> Y-value:</td> <td id="predicted_y"></td></tr>
        <tr><td>X-value</td><td> <input type="text" style = "width:40px;" id="x_value"></td></tr>
        <tr><td><button type="button" class="btn btn-primary" id="predict-button">Predict</button></td></tr>
      </table>
    </div>
    <div class="span6 graph">
    </div>
  </div>
</div>

<div class="form-actions">  
  <button type="button" class="btn btn-primary" id="compute-button">Compute</button>
</div>  

<div class="row-fluid">  
  <div class="span12">
    <form class="form-horizontal">  
      <fieldset>
        <div class="row offset1"><h4>Simple Linear Regresion</h4></div>
        <div class="row offset1" style="padding: 20px; margin-left: 50px; padding-bottom: 30px;" >
          <div class="span10">
            Enter the data sets
            <span class="stat-label">Instructions</span>
          </div>  
        </div>   

        <div class="control-group">
          <label class="control-label" for="textarea2">Response Values</label>
          <div class="controls">  
            <textarea class="input-xlarge" id="textarea2" rows="3">12, 20, 1, 7, 6, 25, 37, -33, 12, 10, 17, 7, 18, 1, 0, -17, -15, 19, -7, -6, 28, -8, 45, 35, 31</textarea>  
          </div>
        </div>

        <div class="control-group">  
          <label class="control-label" for="textarea1">Predictor Values</label>  
          <div class="controls">  
            <textarea class="input-xlarge" id="textarea1" rows="3">40, 57, 19, 37, 34, 63, 93, -41, 47, 41, 68, 38, 49, 11, 16, -12, -11, 59, 11, 11, 79, -6, 101, 90, 79</textarea>  
          </div>
        </div>  

      </fieldset>
    </form> 
  </div>
</div>

<script>

  $(".leaderboard").hide()
  $("#compute-button").on('click', function(){

    $(".graph").empty()

    var response = $("#textarea1").val().split(',')
    var predictor = $("#textarea2").val().split(',')

    var dataset = [];                   
    var numDataPoints = response.length;              
    for (var i = 0; i < numDataPoints; i++) {                
        dataset.push([parseFloat(response[i]), parseFloat(predictor[i])]); }    

    var draw = function(dataset){
      // debugger
      //Width and height
      var w = 370;
      var h = 300;
      var padding = 30;

      // debugger

      //Create scale functions
      var xScale = d3.scale.linear()
                           .domain([ d3.min(dataset, function(d) { return d[0]; }) , d3.max(dataset, function(d) { return d[0]; }) ])
                           .range([padding, w - padding * 2]);

      var yScale = d3.scale.linear()
                           .domain([ d3.min(dataset, function(d) { return d[1]; }) , d3.max(dataset, function(d) { return d[1]; }) ])
                           .range([h - padding, padding]);

      //Define X axis
      var xAxis = d3.svg.axis()
                        .scale(xScale)
                        .orient("bottom")
                        .ticks(5);

      //Define Y axis
      var yAxis = d3.svg.axis()
                        .scale(yScale)
                        .orient("left")
                        .ticks(5);

      //Create SVG element
      var svg = d3.select(".graph")
                  .append("svg")
                  .attr("width", w)
                  .attr("height", h);

      //Create circles
      svg.selectAll("circle")
         .data(dataset)
         .enter()
         .append("circle")
         .attr("cx", function(d) {
              return xScale(d[0]);
         })
         .attr("cy", function(d) {
              return yScale(d[1]);
         })
         .attr("r", 3);
      
      //Create X axis
      svg.append("g")
          .attr("class", "axis")
          .attr("transform", "translate(0," + (h - padding) + ")")
          .call(xAxis);
      
      //Create Y axis
      svg.append("g")
          .attr("class", "axis")
          .attr("transform", "translate(" + padding + ",0)")
          .call(yAxis);
    }

    $.ajax({
      url: '/linear_regressions/compute',
      data: { dataset : dataset },
      success: function(results){
        var a = results.a.toFixed(2)
        var b = results.b.toFixed(2)
        $("#reg_line").html("y = "+a+" + "+b+"x")
        $("#corr").html(results.r.toFixed(2))
        draw(dataset)
        $("#predict-button").on("click",function(){
          debugger
          var x_to_predict = $("#x_value").val()
          x_to_predict = parseFloat(x_to_predict)
          var y_predicted = a + b * x_to_predict
          $("#predicted_y").html(y_predicted)
        })
      }
    })

    $(".leaderboard").slideDown()
  })
</script>